<div id="<%= dom_id stocktake_entry %>">
  <p>
    <strong>Product:</strong>
    <%= stocktake_entry.product_id %>
  </p>

  <p>
    <strong>Stocktake:</strong>
    <%= stocktake_entry.stocktake_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= stocktake_entry.quantity %>
  </p>

</div>
