<p class="notice"><%= notice %></p>

<% content_for :title, "Stocktakes" %>

<h1>Stocktakes</h1>

<%= link_to "New stocktake", new_stocktake_path, class: "btn btn-primary" %>

<div id="stocktakes" class="stocktakes-list">
  <% @stocktakes.each do |stocktake| %>
    <div class="stocktake-item">
      <%= render stocktake %>
      <p>
        <%= link_to "Show this stocktake", stocktake, class: "btn btn-secondary" %>
      </p>
    </div>
  <% end %>
</div>
