<p style="color: green"><%= notice %></p>

<% content_for :title, "Stocktakes" %>

<h1>Stocktakes</h1>
<%= link_to "New stocktake", new_stocktake_path %>

<div id="stocktakes">
  <% @stocktakes.each do |stocktake| %>
    <p>
    <%= render stocktake %>
    
      <%= link_to "Show this stocktake", stocktake %>
    </p>
  <% end %>
</div>


